<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>Game Finished</title>
</head>
<body>
<div align="center"
     th:with="play=${T(osvaldas.games.util.GameMappings).PLAY},
     restart=${T(osvaldas.games.util.GameMappings).RESTART},
     home=${T(osvaldas.games.util.GameMappings).HOME},
     resultMsg=${T(osvaldas.games.util.AttributeNames).RESULT_MESSAGE}">
    <h1>Guess the Number Game</h1>
    <h2>Game Over</h2>
    <h3 th:text="${__${resultMsg}__}">
        Result Message Content
    </h3>
    <h3>
        <a th:href="@{__${restart}__}">
            Play Again
        </a>
    </h3>
    <h3>
        <a th:href="@{__${home}__}">
            Home
        </a>
    </h3>

    <footer th:replace="~{fragments/footer :: footer}">
        <p>Footer goes here</p>
    </footer>
</div>
</body>
</html>